* {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1250px;
  background-color: #cccccc;
  margin: 0 auto; }

.row {
  width: 1200px;
  margin: 0 auto;
  line-height: 50px;
  text-align: center;
  overflow: hidden;
  margin-top: 17px; }

.col-1 {
  float: right;
  width: 4.83333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-2 {
  float: right;
  width: 11.08333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-3 {
  float: right;
  width: 17.33333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-4 {
  float: right;
  width: 23.58333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-5 {
  float: right;
  width: 29.83333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-6 {
  float: right;
  width: 36.08333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-7 {
  float: right;
  width: 42.33333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-8 {
  float: right;
  width: 48.58333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-9 {
  float: right;
  width: 54.83333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-10 {
  float: right;
  width: 61.08333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-11 {
  float: right;
  width: 67.33333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-12 {
  float: right;
  width: 73.58333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-13 {
  float: right;
  width: 79.83333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-14 {
  float: right;
  width: 86.08333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-15 {
  float: right;
  width: 92.33333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }

.col-16 {
  float: right;
  width: 98.58333%;
  background-color: #333333;
  height: 50px;
  margin-left: 17px;
  color: white;
  border-radius: 5px;
  margin-top: 5px; }
