.container {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  margin-top: 100px; }

.col-1 {
  float: left;
  width: 8.13333%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }

.col-2 {
  float: left;
  width: 16.46667%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }

.col-3 {
  float: left;
  width: 24.8%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }

.col-4 {
  float: left;
  width: 33.13333%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }

.col-5 {
  float: left;
  width: 41.46667%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }

.col-6 {
  float: left;
  width: 49.8%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }

.col-7 {
  float: left;
  width: 58.13333%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }

.col-8 {
  float: left;
  width: 66.46667%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }

.col-9 {
  float: left;
  width: 74.8%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }

.col-10 {
  float: left;
  width: 83.13333%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }

.col-11 {
  float: left;
  width: 91.46667%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }

.col-12 {
  float: left;
  width: 99.8%;
  color: white;
  background-color: #EF5350;
  border: 1px white solid;
  height: 50px; }
