$black: #333333;
$gray:#cccccc;
*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1250px;
    background-color: $gray;
    margin: 0 auto;
}
.row{
    width: 1200px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    margin-top: 17px;
}
$length:16;
@for $i from 1 to $length {
    .col-#{$i} {
        float: right;
        width: ($i*100%/16)-(17*100%/1200);
        background-color: $black;
        height: 50px;
        margin-left: 17px;
        color: white;
        border-radius: 5px;
        margin-top:5px;
    }
}